name: Hello World
on:
  push:
    branches:
      - master
      - development
      - 'release/**'
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Build Step
        run: echo "A demo build"